body {
    background:   #eee;
    padding-left: 5%;
}

a {
    color:           inherit;
    text-decoration: none;
}

a:hover {
    color: #66A;
}

.feed {
    display: block;
    padding: 10px 0px 15px 10px;
    float:   left;
}

.title {
    width:                 100%;
    background:            #226;
    color:                 #AAE;
    text-align:            center;
    padding:               6px 0;
    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
         -o-border-radius: 4px 4px 0 0;
        -ms-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
    font-size:             22px;
    font-variant:          small-caps;
}

.item {
    background:    white;
    border:        4px solid transparent;
    border-bottom: 1px solid #ddd;
    display:       block;
    padding:       12px 12px 16px;
    font-size:     16px;
    color:         #666;
}

.highlight {
    background:         #FFA;
    -webkit-transition: background 1s ease-out;
       -moz-transition: background 1s ease-out;
         -o-transition: background 1s ease-out;
        -ms-transition: background 1s ease-out;
            transition: background 1s ease-out;
}

.item:last-child {
    -webkit-border-radius: 0 0 4px 4px;
       -moz-border-radius: 0 0 4px 4px;
         -o-border-radius: 0 0 4px 4px;
        -ms-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
}

.item .date {
    font-size: 11px;
    color:     #999;
}

.item a {
    color: #88A;
}

.item h2 {
    color:     #226;
    font-size: 22px;
    margin:    6px 0 12px;
}

.item img {
    float:     right;
    display:   inline-block;
    margin:    6px 0 0 12px;
    height:    100px;
    max-width: 100%;
}

.item .p {
    text-align: justify;
    margin:     6px 0 10px;
    min-height: 80px;
}

.hidden {
    display: none;
    width: 0; /* Cringe! But imgs doesn't like display:none */
}
